# rubocop action doesn't work yet:
# https://github.com/gimenete/rubocop-action/issues/12
name: Lint

on:
  push:
    branches: [ main, 1.1-branch ]
  pull_request:
    branches: [ main, 1.1-branch ]

jobs:
  rubocop:
    strategy:
      fail-fast: false
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v4
    - name: Setup ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3.2'
    - name: install deps
      run: bundle install
    - name: Run rubocop
      run: bundle exec rubocop --display-cop-names
#  rubocop:
#    runs-on: ubuntu-latest
#    steps:
#      - name: checkout
#        uses: actions/checkout@v2
#      - name: Rubocop checks
#        uses: gimenete/rubocop-action@1.0
#        env:
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  markdownlint:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: MarkdownLint mdl Action
        uses: actionshub/markdownlint@1.2.0
