name: Unittests

on:
  push:
    branches: [ main, 1.1-branch ]
  pull_request:
    branches: [ main, 1.1-branch ]

jobs:
  rspec:
    strategy:
      fail-fast: false
      matrix:
        ruby: [3.0, 3.1, 3.2, 3.3]
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    - name: Setup Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
    - name: Install dependencies
      run: bundle install
    - name: Run rspec
      run: ./scripts/run_rspec.sh
